*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width : 100%;
    font-family: 'Arial', sans-serif;
}

@mixin flexCenter(){
    display: flex;
    align-items: center;
    justify-content: center;
}

main{
    height : 100%;
    width : 100%;
    background-color: black;
    @include flexCenter();

    section{
        height : 50%;
        width : 50%;
        background-color: white;
        @include flexCenter();

        h1{
            font-size: 3rem;
            color: black;
        }
    }
}

